<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.ShopMapper">

    <insert id="insertIntoShopCategory">
        insert into yc_shop.shop_category(shop_id, category_id)
            value (#{shop_id}, #{vo.categoryId})
    </insert>

    <select id="getImgById" resultType="java.lang.String">
        select image
        from yc_shop.shop
        where id = #{id}
    </select>
</mapper>